bucket         = "replace-with-terraform-state-bucket"
key            = "landing-zone/ipam/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "replace-with-lock-table"
encrypt        = true
