bucket         = "replace-with-terraform-state-bucket"
key            = "workloads/dev/foundation.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "replace-with-terraform-lock-table"
encrypt        = true
